:root {
    --azulito: rgb(0, 193, 186);
    --marginLeft: 0.8em;
    --borderRadius: 10px;
    --width: 20%;
    --colorBoton: #fff;
    --colorIcono: rgb(215, 117, 8);
    --colorBeyond: #005464;
    --colorBlanco: #fff;
}

.color-menu {
    background-color: rgb(87, 171, 251) !important;
    mix-blend-mode: normal;
    backdrop-filter: blur(4px);
}

.color-footer {
    background-color: #4F92D0 !important;
    position: absolute;
    height: 87px;
    top: 667px;
}

.nav-item {
    cursor: grab;
}

.float-right {
    float: left!important;
    margin-left: 53%;
}

p.texto-menu {
    color: white;
    position: absolute;
    left: 63.23%;
    right: 18.46%;
    top: 44.3%;
    bottom: 26.17%;
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 31px;
}

.navbar-light .navbar-brand {
    color: var(--colorBlanco);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}

.inside {
    color: rgb(255, 255, 255) !important;
    font-size: 1em;
    top: calc(38%);
    position: absolute;
    text-indent: 10px;
}

.input {
    text-indent: 20px;
}

img {
    width: 20%;
    margin-left: 29px;
}

img.footer {
    width: 10%;
}

a.nav-link {
    color: #215687;
}